.salt .wrapper__header {
  z-index: 2;
  .wrapper__header__close-link a  {
    color: #fff;
  }
}
.salt {
  height: 100%;
  width: 100%;
  background: #000;
  display: block;
  position: absolute;
}


