.Salt {
  .wrapper {
    background: var(--salt-sub-header-bg-color-4);
  }

  .wrapper__header__close-link a {
    color: #16374a;
    &:visited {
      color: #16374a;
    }
  }

  .wrapper__sub-header {
    background: var(--salt-sub-header-bg-color);
    color: white;
  }
}

.SaltCarousel {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

